<div class="slide">
    <picture>
        <source type="image/webp" srcset="/static/images/self_portrait.png.webp" />
        <img src="/static/images/self_portrait.png" />
    </picture>
    <div class="flex flex-col justify-center">
        <h1 class="font-josefin_slab font-[700] text-5xl">Xander Jake de los Santos</h1>
    </div>

    <div>
        <div id="links" class="flex gap-3 mb-10">
            <a target="_blank" href="https://notes.xanderjakeq.page/posts" class="hover:underline">blog</a>
        </div>
    </div>

    <p class="
        mt-5
        ">
        Hello! I'm Xander, self-taught <b>web developer</b> and <b>artist</b>.
        Welcome to my corner of the interwebs.
    </p>

    <p class="
        mt-5
        ">
        I want to draw whatever I feel like one day. The style I'm going for is
        colorful semi-realism with a little bit of anime. Ideally, I'll be
        able to make art in any style. My main app is krita because it's free!
    </p>

    <p class="
        mt-5
        ">
        Neovim is my editor of choice. I started with react/js, then
        sveltekit/ts/node. Currently exploring compiled languages, specifically
        go and rust. Also trying out htmx because theprimeagen talked about it.
    </p>

    <p class="
        mt-5
        ">
        My ongoing project is <a href="https://wips.art" class="
            hover:underline
            text-red-500
            ">wips.art</a>.
        It's a platform for artists designed for sharing wips. Originally
        written with sveltekit/firebase and rewriting it
        rust, htmx and postgres trying to keep costs low as possible.
        <a href="#" class="
            hover:underline
            text-red-500
            ">more...</a>
    </p>

    <p class="
        mt-5
        ">
        You can find me everywhere <em class="text-blue-600">@xanderjakeq</em>.
    </p>
    <div class="mb-24">
    </div>
</div>
