<div class="slide">
    <div class="flex items-center justify-center w-full">
        <div class="
            w-full xl:w-[60vw] 
            flex-shrink-0 
            ">
            {% for link in art.links %}
            <a hx-get="/img/carousel?collection={{art.name}}&i={{loop.index0}}" hx-target="#carousel"
                hx-swap="outerHTML">
                <picture>
                    <source type="image/webp" srcset="{{ link }}.webp" />
                    <img src="{{ link }}" class="my-5" />
                </picture>
            </a>
            {% endfor %}
        </div>
    </div>
    <div id="carousel">
    </div>

</div>
