<div class="slide">
    <div class="flex flex-col justify-center">
        <h1 class="font-josefin_slab font-[700] text-5xl">Full Stack Dev</h1>
    </div>

    <div id="links" class="flex flex-col gap-3 mb-10">
        <div class="flex gap-3">
            <a href="mailto:xanderjakeq@gmail.com" class="
            hover:underline
            text-red-500

            mb-1
            ">xanderjakeq@gmail.com</a>
            <span class="
            mb-1
            ">MD, US</span>
        </div>
        <div class="flex gap-2">
            <a target="_blank" href="https://notes.xanderjakeq.page/posts" class="hover:underline">blog</a>
            <a target="_blank" href="https://github.com/xanderjakeq" class="hover:underline">github</a>
            <a target="_blank" href="https://www.linkedin.com/in/xanderjakeq/" class="hover:underline">linkedin</a>
        </div>
    </div>

    <h1 class="text-2xl">Skills/Tools</h1>
    <ul class="
        list-disc

        flex
        flex-wrap

        gap-x-5
        gap-y-2

        mb-10
        ">
        <li>Javascript/Typescript</li>
        <li>Css/Tailwind</li>
        <li>Node.js/Express.js</li>
        <li>Svelte/React.js</li>
        <li>Firebase</li>
        <li>SQL</li>
        <li>Git</li>
        <li>Figma</li>
        <li>Docker</li>
        <li>Neovim</li>
        <li>(Rust)</li>
    </ul>

    <h1 class="text-2xl">Experience</h1>
    <ul class="
        flex
        flex-col

        gap-5

        mb-10
        ">
        <!--<li>-->
        <!--    <div>-->
        <!--        <span>-->
        <!--            2020-Present-->
        <!--        </span>-->
        <!--        <h2 class="font-bold">-->
        <!--            <a href="#">l0l.studio</a>-->
        <!--        </h2>-->
        <!--        <span>Freelance Developer</span>-->
        <!--    </div>-->
        <!--</li>-->

        <li>
            <div>
                <span>
                    2023-2024
                </span>
                <h2 class="font-bold">
                    <a href="https://www.joesmovement.org/">Joe's Movement Emporium</a>
                </h2>
                <span>
                    Developer/Designer
                </span>
            </div>
        </li>

        <li>
            <div>
                <span>
                    2022-2022
                </span>
                <h2 class="font-bold">
                    <a href="https://www.eesel.app/">Eesel</a>
                </h2>
                <span>
                    Product Engineer Intern
                </span>
            </div>
        </li>

        <li>
            <div>
                <span>
                    2021-2021
                </span>
                <h2 class="font-bold">
                    <a href="https://grantfortheweb.org">Grant for the Web</a>
                </h2>
                <span>
                    Software Engineer
                </span>
            </div>
        </li>
    </ul>

    <h1 class="text-2xl">Projects</h1>
    <p class="mb-10">
        Things I built from concept to solve my own little problems and explore product ideas. Defined MVP scope,
        designed UI/UX and written with the tech stack listed.
    </p>

    <div class="flex flex-col gap-3">
        <div>
            <a href="https://wips.art/post/9FPcVL34QEdJU6FGpXGT" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/static/images/dev/wips.webp">
                    <img src="/static/images/dev/wips.png" alt="wips.art screenshot">
                </picture>
            </a>
            <h2 class="text-xl">
                wips.art
            </h2>

            <p class="mb-2 flex gap-2">
                <a href="https://wips.art/post/9FPcVL34QEdJU6FGpXGT" target="_blank">live</a>
            </p>

            <p>
                A platform for artists to easily share/track
                wips(works-in-progress). Originally funded by
                <a href="https://www.grantfortheweb.org/">Grant For the Web</a> to
                experiment with the <a href="https://webmonetization.org/">webmonetization</a> api. I
                think it could be something more than an experiment, so I built more
                features.
            </p>

            <ul class="
            list-disc

            flex
            flex-wrap

            gap-x-5
            gap-y-2

            mt-5
            mb-10
            ">
                <li>SvelteKit</li>
                <li>Firebase</li>
                <li>Node.js</li>
                <li>WebMonetization API</li>
            </ul>
        </div>

        <div>
            <a href="https://topchatter.vercel.app/" target="_blank">
                <picture>
                    <img src="/static/images/dev/topchatter.gif" alt="topchatter
                    demo">
                </picture>
            </a>
            <h2 class="text-xl">
                topchatter
            </h2>

            <p class="mb-2 flex gap-2">
                <a href="https://github.com/xanderjakeq/topchatter" target="_blank">github</a>
                <a href="https://topchatter.vercel.app/" target="_blank">live</a>
            </p>

            <p>
                A game for streamers to guess their top chatter wordle style. Data
                is currently static, there's a script that logs the specified
                streamer's chat. A cleanup script that saves it into a json file.
            </p>

            <p>
                Further development could include user management, so they could
                specify which streams to log and add a real database to save the
                logs and other game stats like retries and time-to-complete, etc.
            </p>

            <ul class="
            list-disc

            flex
            flex-wrap

            gap-x-5
            gap-y-2

            mt-5
            mb-10
            ">
                <li>SvelteKit</li>
                <li>Node.js</li>
                <li>Twitch API</li>
                <li>Typescript</li>
                <li>Tailwind</li>
            </ul>
        </div>

        <div>
            <a href="https://github.com/xanderjakeq/keyani" target="_blank">
                <picture>
                    <img src="/static/images/dev/keyaniDemo.gif" alt="keyani demo">
                </picture>
            </a>
            <h2 class="text-xl">
                keyani
            </h2>

            <p class="mb-2 flex gap-2">
                <a href="https://github.com/xanderjakeq/keyani" target="_blank">github</a>
            </p>

            <p>
                A simple tool to "animate" in realtime using the keyboard.

                The goal is to add a bit of personality on the screen for
                streamers who only type without cam/voice. Also to learn
                rust ofc.
            </p>
            <p>
                There are features missing to make it user friendly. Importing
                images for example, setting the idle image, or assigning a specific
                image to a key.
            </p>
            <ul class="
            list-disc

            flex
            flex-wrap

            gap-x-5
            gap-y-2

            mt-5
            mb-10
            ">
                <li>Rust</li>
            </ul>
        </div>

        <div>
            <a href="https://focalpoint.wips.art/" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/static/images/dev/focal_point.png">
                    <img src="/static/images/dev/focal_point.png" alt="focal point screenshot">
                </picture>
            </a>
            <h2 class="text-xl">
                focal point
            </h2>
            <p class="mb-2 flex gap-2">
                <a href="https://wips.art/post/NouSNyjISDKOdOyGU1JI" target="_blank">sample workflow</a>
            </p>

            <p>
                A tool for artists to check focal points in their artwork and
                inform their decisions moving forward. Mostly useflul for pieces
                that has a lot of elements to manage. Not very useful for portaits.
                Windows native app.
            </p>

            <ul class="
            list-disc

            flex
            flex-wrap

            gap-x-5
            gap-y-2

            mt-5
            mb-10
            ">
                <li>Rust/iced.rs</li>
                <li>python</li>
                <li>wix toolset</li>
            </ul>
        </div>

        <div>
            <a href="https://convoclips.com/" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/static/images/dev/convoclips.webp">
                    <img src="/static/images/dev/convoclips.png" alt="convoclips screenshot">
                </picture>
            </a>
            <h2 class="text-xl inline">
                convoclips
            </h2>
            <p class="mb-2 flex gap-2">
                <a href="https://github.com/xanderjakeq/convoclips" target="_blank">github</a>
                <a href="https://convoclips.com/" target="_blank">live</i></a>
            </p>

            <p>
                Share interesting conversations from private discord server. I was
                exploring this idea to make web searchable discord conversations.
                Then I found <a href="https://www.linen.dev/">linen.dev</a> xd.
            </p>

            <ul class="
            list-disc

            flex
            flex-wrap

            gap-x-5
            gap-y-2

            mt-5
            mb-10
            ">
                <li>SvelteKit</li>
                <li>Prisma</li>
                <li>Node.js</li>
                <li>Discord.js</li>
                <li>Tailwind</li>
                <li>Zod</li>
                <li>Typescript</li>
            </ul>
        </div>
    </div>
