<div class="slide">
    <div class="flex flex-col justify-center">
        <h1 class="font-josefin_slab font-[700] text-5xl">Experience</h1>
    </div>
    <div id="links" class="flex gap-3 mb-10">
        <a rel="external" href="https://www.linkedin.com/in/xanderjakeq/">linkedin</a>
    </div>

    <div class="flex flex-col gap-10">
        <div>
            <h2 class="text-xl">
                Illustrator/Designer
            </h2>
            <p>
                Joe's Movement Emporium
            </p>
            <p>
                2023-2024
            </p>
        </div>

        <div>
            <h2 class="text-xl">
                MERN Full Stack Developer
            </h2>
            <p>
                SNVA Technologies
            </p>
            <p>
                2023-2023
            </p>
        </div>

        <div>
            <h2 class="text-xl">
                Product Engineer Intern
            </h2>
            <p>
                Eesel
            </p>
            <p>
                2022-2022
            </p>
        </div>

        <div>
            <h2 class="text-xl">
                Full Stack Engineer
            </h2>
            <p>
                Grant for the Web
            </p>
            <p>
                2021-2021
            </p>
        </div>
    </div>

</div>
